.App {
  text-align: center;
  font-family: "Quicksand";
}

.App h1 {
  background-color: #6442f0;
  width: 40%;
  margin: 0 auto;
  border-radius: 10px;
  font-size: 2.4rem;
  padding: 10px 0;
  color: #fff;
  margin-bottom: 60px;
}
